*{
    padding: 0;
    margin: 0;
}

.container{
     font-family: 'Roboto', sans-serif;
     width: 100%;
}

.hero {
    background-image: url(images/cool2.jpg);
    background-size: 33em;
    height: 16em;
    background-position-x: center;
    text-align: center;
    color: white;
    margin-bottom: 0.5em;
}

#masthead {
    position: absolute;
  top: 1%;
  right: 3%;
  width: 40%;
}

h1 {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.9em;
    position: absolute;
    top: 2%;
    width: 100%;
}

.subhead{
    font-size: 1em;
    position: absolute;
    top: 8%;
    width: 100%;
}

.byline{
    font-size: 0.8em;
    font-style: italic;
    position: absolute;
    top: 11%;
    width: 100%;
}

.text-container{
    margin: 0 0.8em;
}

.text-container p, .picture, .quote, .parallax {
    margin-bottom: 0.5em;
}

.picture img {
    width: 100%;
}

figcaption{
    font-size: 0.8em;
}

.quote {
    font-size: 1.5em;
    border-left: 0.3em solid blue;
    font-family: 'Times New Roman', Times, serif;
    padding-left: 0.5em;
    margin: 1.75em;
}

#accordion-container{
    background-color: #eee;
    margin-bottom: 0.5em;
}

#accordion-container h2 {
    padding: 0.3em 0.5em;
    background-color: #ccc;
    margin: 0;
}

/* Style the buttons that are used to open and close the accordion panel */
.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
}

.accordion:after {
    content: '\002B';
    color: #777;
    font-weight: bold;
    float: right;
    margin-left: 5px;
}

/* Add a background color to the button if it is clicked on and when you move the mouse over it (hover) */
.active, .accordion:hover {
    background-color: #ccc;
}

.active:after {
    content: "\2212";
}

/* Style the accordion panel. Note: hidden by default */
.panel {
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    border: solid #eee;
    border-width: 0 0.7px 0.7px 0.7px;
}

.parallax { 
    position: relative;
    height: 15em; 
    background-attachment: scroll;
    background-repeat: no-repeat;
    background-size: cover;
}

.parallax figcaption {
    color: white;
    padding: 0 1em;
    text-shadow: 2px 2px black;
    position: absolute;
    top: 16em;
}

.troy {
    /* The image used */
    background-image: url("images/buswell.jpg");
}

.quay 
{/* The image used */
    background-image: url("images/quay.jpg");
}

.queen 
{/* The image used */
    background-image: url("images/queen.jpg");
}

.beach 
{/* The image used */
    background-image: url("images/beach.jpg");

    background-position: center;
}

footer{
    margin: 0.5em 0.8em;
}

footer div {
    padding: 0.5em 1em;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}

/*View for tablets*/
@media (min-width:479px) {
    .hero {
        background-size: 66em;
        height: 32em;
        background-position-x: center;
    }
    h1 {
        font-size: 4.9em;
        margin-bottom: 0;
    }

    .subhead{
        font-size: 2.2em;
        top: 11.5%;
    }
    
    .byline{
        font-size: 1.8em;
        top: 16.5%;
    }

    .text-container{
        width: 85%;
        margin: auto;
    }

    #accordion-container{
        float: right;
        width: 50%;
        margin-left: 0.5em;
    }

    .parallax {
        height: 44em;
        background-position: -5em;
        background-size: 67em;
    }

    .parallax figcaption {
        top: 53em;
    }

    .queen{   
        background-position: -19em;
    }

    footer{
        width: 85%;
        margin: 1em auto;
    }

}

/*View for desktop*/
@media (min-width:1000px) {
    .container{
        width: 100%;
    }

    .text-container{
        width: 70%;
    }

    .hero{
        background-size: 110em;
        background-position-x: center;
        background-position-y: -9em;
        height: 50em;
        margin-bottom: 1em;

        /* Create the parallax scrolling effect */
        position: relative;
        background-attachment: fixed;
        background-repeat: no-repeat;
    }

    #masthead {
      width: 20%;
    }

    .subhead{
        top: 14%;
    }
    
    .byline{
        top: 20%;
    }

    h2{
        font-size: 2em;
        margin-bottom: 0.3em;
    }

    .picture{
        margin: 1.5em 0;
    }

    .picture figcaption{
        font-size: 1em;
        margin-top: 0.6em;
    }

    .quote {
        font-size: 2.5em;
        margin: 1em;
    }


    #accordion-container{
        padding: 0.1em 0.1em 0 0.1em;
    }

    .accordion {
        font-size: 1.2em;
    }

    .parallax {
        position: relative;
        /* Set a specific height */
        height: 66em;

         /* Create the parallax scrolling effect */
        background-attachment: fixed;
        background-size: 127em;
        background-position: 0em;
        background-repeat: no-repeat;
        margin: 1.5em auto;
    }

    .parallax figcaption {
        top: 64em;
        font-size: 1em;
    }

    .troy{
        background-size: 156em;
        background-position: -1em;
    }

    .quay{
        background-size: 171em;
        background-position: 0em;
    }

    .queen {
        background-size: 157em; 
        background-position: -45em;
    }

    .beach {
        background-size: 130em;
        background-position: -20em;
    }

    footer{
        width: 70%;
    }
    
    footer div {
        padding: 0.5em 1em;
    }
}